*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 0px) {

    header{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    header figure{
        width: 20%;
        height: max-content;
    }

    header figure img{
        height: 100px;
    }

    header nav#menu{
        width: 60%;
        display: flex;
        flex-flow: wrap nowrap;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        padding: 20px;
    }

    header nav#menu a{
        color: white;
    }

    header nav#menu :nth-child(1){
        text-decoration: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 50px;
        width: 96px;
        height: 49px;
        background: #F1662A;
        box-shadow: 0px 1px 10px #FFFFFF;
        border-radius: 50px;
        font-weight: bold;
        color: white;
        font-family: 'Inter';
        font-style: normal;
    }

    header nav#menu :nth-child(2){
        display: none;
    }
    header nav#menu :nth-child(3){
        display: none;
    }
    header nav#menu :nth-child(4){
        display: none;
    }
    header nav#menu :nth-child(5){
        display: none;
    }

    header nav#sociales{
        width: 20%;
        height: 100px;
        display: flex;
        flex-flow: wrap nowrap;
        justify-content: flex-end;
        display: none;
    }

    header nav#sociales a{
        display: flex;
        flex-flow: wrap nowrap;
        justify-content: flex-end;
        align-items: center;
        text-decoration: none;
    }

    header nav#sociales a i{
        font-size: 30px;
        padding-right: 5px;
        padding: 5px;
    }

    header nav#sociales a i#insta{
        color: red;
    }

    header nav#sociales a i#git{
        color: white;
    }

    header nav#sociales a i#twitter{
        color: blue;
    }

    header nav#sociales a i#what{
        color: rgb(0, 216, 0);
    }
    

    header nav#boton{
        width: 30%;
        display: flex;
        flex-flow: wrap nowrap;
        justify-content: center;
    }

    header nav#boton a{
        font-size: 60px;
        color: white;
    }

    header nav#boton a:hover{
        color: #F1662A;
    }

    main{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    main figure{
        width: 358.34px;
        height: 189px;
        left: calc(50% - 358.34px/2 - 3.83px);
        top: calc(50% - 189px/2 - 207.5px);
        background: rgba(188, 188, 188, 0.1);
        box-shadow: 0px 5px 20px 5px #F1662A;
        /* filter: blur(25px); */
        border-radius: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    main figure h3{
        color: white;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 18px;
    }

    main figure h1{
        color: #DE7800;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 39px;
    }

    main figure h2{
        color: white;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
    }

    main section#skills{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 60px;
        width: 100%;
    }

    main section h2{
        color: white;
    }

    main #skills{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        /* background-color: #DE7800; */
    }

    main #skills h2{
        width: 100%;
        text-align: center;
    }

    main #skills i{
        color: white;
        width: 30%;
        text-align: center;
        font-size: 60px;
        padding-top: 20px;
    }

    main h2#proyectos{
        color: white;
        padding-top: 30px;
        margin-top: 30px;
    }

    main section#recent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 47.59px;
        width: 384px;
        height: 548px;
        background: rgba(79, 79, 79, 0.17);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(100px);
        border-radius: 19.0369px;
    }

    main section#recent figure{
        border: 1px solid #4F4F4F;
        box-shadow: 0px 10px 20px #FFFFFF;
        width: 352px;
        height: 178px;
    }

    main section#recent figure img{
        width: 352px;
        height: 178px;
        border-radius: 20px;
    }

    main section#recent nav{
        width: 60px;
        height: 60px;
        background-color: #DE7800;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
    }

    main section#recent nav a i{
        color: white;
        font-size: 50px;
        transform: rotate(-135deg);
    }
}