*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
}


@media screen and (min-width: 650px) {

    header nav#manu{
        display: flex;
        flex-flow: wrap nowrap;
        justify-content: space-around;
        padding: 20px;
    }

    header nav#manu a{
        display: flex;
        flex-flow: wrap nowrap;
        justify-content: space-between;
        border: 1px solid white;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        text-decoration: none;
    }

    header nav#menu :nth-child(2){
        display: flex;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        text-decoration: none;
    }
    header nav#menu :nth-child(3){
        display: flex;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        text-decoration: none;
    }

    
    header nav#menu :nth-child(4){
        display: flex;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        text-decoration: none;
    }
    
    header nav#menu :nth-child(5){
        display: flex;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        text-decoration: none;
    }
    

    header nav#sociales{
        display: flex;
    }

    header nav#boton{
        display: none;
    }

    /* MAIN */

    main{
        justify-content: space-between;
        padding: 30px;
    }

    main figure{
        width: 100%;
        margin: 30px;
        justify-content: center;
        text-align: center;
    }

    main figure h3{
        width: 100%;
    }

    main figure h1{
        width: 100%;
    }

    main figure h2{
        width: 100%;
    }

    main section#skills{
        /* justify-content: flex-start; */
        width: 40%;
    }

    main section#recent{
        height: 650px;
        gap: 10px;
        margin-top: 0px;
    }

}